@use '@dsrca/design/variables';
@use '@dsrca/design/layout';

.card {
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  padding: 20px 24px;
  padding-top: 14px;
  border-radius: 8px;
  width: 100%;

  @include layout.responsive('md') {
    padding: 16px;
    padding-top: 10px;
  }

  :global {
    a {
      color: var(--color-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & + & {
    margin-top: 20px;
  }
}

.btn {
  display: flex;
  border: variables.$size-border solid var(--color-border);
  width: 48px;
  height: 32px;
  border-radius: variables.$radius-md;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
  margin-left: 8px;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-active);
  }
}

.icon {
  font-size: 18px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modalCard {
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  padding: 20px 24px;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  min-width: fit-content;
  min-height: fit-content;
  text-align: center;
}

.modalTitle {
  font-weight: 600;
}

.modalContent {
  margin-top: 8px;
}

.modalControl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.modalBtn {
  display: flex;
  border: variables.$size-border solid var(--color-border);
  width: 64px;
  height: 32px;
  border-radius: variables.$radius-md;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-active);
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
  position: relative;
  padding: 8px;
  padding-top: 6px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  border-bottom: 2px solid transparent;
  z-index: 1;

  &:hover {
    border-bottom: 2px solid var(--color-primary);
  }

  @include layout.responsive('md') {
    padding: 8px;
    flex: 1 1 auto;
  }
}

.tabName {
  margin-left: 4px;
}

.tabActive {
  border-bottom: 2px solid var(--color-primary);
}

.tabsBorder {
  position: relative;
  border-top: 2px solid var(--color-wrapper);
  margin-bottom: 16px;
  transform: translateY(-2px);
  z-index: 0;
}

trans.chains {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}

.chainName {
  display: flex;
  height: 32px;
  border-radius: variables.$radius-md;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: var(--color-wrapper);
}

.chainText {
  margin-left: 4px;
}

.address {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  word-break: break-all;
  gap: 8px;
  text-align: center;
  line-height: 32px;
  padding: 0 30px;

  @include layout.responsive('md') {
    padding: 0;
    margin-top: 0;
  }
}

.wallet {
  margin-top: 8px;
}

.content {
  display: flex;

  @include layout.responsive('md') {
    flex-direction: column;
  }
}

.chainTitle {
  text-align: center;
}

.detail {
  margin-left: 16px;
  flex: 1 1 auto;

  @include layout.responsive('md') {
    margin-left: 0;
    margin-top: 16px;
  }
}

.addressTitle {
  text-align: center;

  @include layout.responsive('md') {
    display: none;
  }
}

.addressQR {
  width: 200px;
  height: 200px;
  margin: 12px auto 0 auto;
}
